
// Shared
// -------------------------
.ih-item.square.effect13 {
    overflow: hidden;
    
    &.colored {
        .info {
            background: $overlay_colored_fallback;
            background: $overlay_colored;

            h3 {
                background: $overlay_colored_dark;
            }
        }
    }

    .img {
        @include transition(  all .35s ease-in-out );
        @include transform( scale(1) );
    }

    .info {
        background: $overlay_dark_fallback;
        background: $overlay_dark;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        @include transition( all .35s ease-in-out );

        h3 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-size: 17px;
            padding: 10px;
            background: $overlay_dark_dark;
            margin: 30px 0 0 0;
        }

        p {
            font-style: italic;
            font-size: 12px;
            position: relative;
            color: #bbb;
            padding: 20px 20px 20px;
            text-align: center;
        }
    }

    a:hover {
        .img {
            @include transform( scale(1.2) );
        }

        .info {
            visibility: visible;
            opacity: 1;
        }
    }
}

// -------------------------
.ih-item.square.effect13.left_to_right {
    .info {
        @include transform( translateX(-100%) );
    }

    a:hover {
        .info {
            @include transform( translateX(0) );
        }
    }
}

// -------------------------
.ih-item.square.effect13.right_to_left {
    .info {
        @include transform( translateX(100%) );
    }

    a:hover {
        .info {
            @include transform( translateX(0) );
        }
    }
}


// -------------------------
.ih-item.square.effect13.top_to_bottom {
    .info {
        @include transform( translateY(-100%) );
    }

    a:hover {
        .info {
            @include transform( translateY(0) );
        }
    }
}


// -------------------------
.ih-item.square.effect13.bottom_to_top {
    .info {
        @include transform( translateY(100%) );
    }

    a:hover {
        .info {
            @include transform( translateY(0) );
        }
    }
}


