
// Shared
// -------------------------
.ih-item.circle.effect3 {
    .img {
        z-index: 11;
        @include transition( all 0.35s ease-in-out );
    }


    &.colored {
        .info {
            background: $overlay_colored_fallback;
        }
    }

    .info {
        background: $overlay_dark_fallback;
        opacity: 0;
        pointer-events: none;
        @include transition( all .35s ease-in-out );

        h3 {
            color: #fff;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;
            font-size: 22px;
            margin: 0 30px;
            padding: 55px 0 0 0;
            height: 110px;
            text-shadow: 
                0 0 1px #fff, 
                0 1px 2px rgba(0,0,0,0.3);            
        }

        p {
            color: #bbb;
            padding: 10px 5px;
            font-style: italic;
            margin: 0 30px;
            font-size: 12px;
            border-top: 1px solid rgba(255,255,255,0.5);
        }
    }
}

// -------------------------
.ih-item.circle.effect3.left_to_right {
    .img {
        @include transform( scale(1) translateX(0) );
    }

    .info {
        @include transform( translateX(-100%) );
    }

    a:hover {
        .img {
            @include transform( scale(.5) translateX(100%) );
        }
        .info {
            opacity: 1;
            @include transform( translateX(0) );
        }
    }
}

// -------------------------
.ih-item.circle.effect3.right_to_left {
    .img {
        @include transform( scale(1) translateX(0) );
    }

    .info {
        @include transform( translateX(100%) );
    }

    a:hover {
        .img {
            @include transform( scale(.5) translateX(-100%) );
        }
        .info {
            opacity: 1;
            @include transform( translateX(0) );
        }
    }
}


// -------------------------
.ih-item.circle.effect3.top_to_bottom {
    .img {
        @include transform( scale(1) translateY(0) );
    }

    .info {
        @include transform( translateY(-100%) );
    }

    a:hover {
        .img {
            @include transform( scale(.5) translateY(100%) );
        }
        .info {
            opacity: 1;
            @include transform( translateY(0) );
        }
    }
}


// -------------------------
.ih-item.circle.effect3.bottom_to_top {
    .img {
        @include transform( scale(1) translateY(0) );
    }

    .info {
        @include transform( translateY(100%) );
    }

    a:hover {
        .img {
            @include transform( scale(.5) translateY(-100%) );
        }
        .info {
            opacity: 1;
            @include transform( translateY(0) );
        }
    }
}


