
// Shared
// -------------------------
.ih-item.circle.effect20 {
    @include perspective(900px);

    .img {
        @include transition( all .35s linear );
        @include transform-origin( 50% 0% );
    }

    &.colored {
        .info {
            .info-back {
                background: $overlay_colored_fallback;
            }
        }
    }

    .info {
        @include transform-style(preserve-3d);
        .info-back {
            opacity: 1;
            visibility: hidden;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background: $overlay_dark_fallback;
            @include transition( all .35s linear );
            @include transform-origin( 50% 0% );
            @include backface-visibility(hidden);
        }

        h3 {
            color: #fff;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;
            font-size: 22px;
            margin: 0 30px;
            padding: 55px 0 0 0;
            height: 110px;
            text-shadow: 
                0 0 1px #fff, 
                0 1px 2px rgba(0,0,0,0.3);              
        }

        p {
            color: #bbb;
            padding: 10px 5px;
            font-style: italic;
            margin: 0 30px;
            font-size: 12px;
            border-top: 1px solid rgba(255,255,255,0.5);
        }
    }

    a:hover {
        .img {
            opacity: 0;
        }
        .info {
            .info-back {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// -------------------------
.ih-item.circle.effect20.top_to_bottom {
    .info {
        .info-back {
            @include transform( translate3d(0,0,-220px) rotate3d(1,0,0,90deg) );
        }
    }

    a:hover {
        .img {
            @include transform( translate3d(0,280px,0) rotate3d(1,0,0,-90deg) );
        }

        .info {
            .info-back {
                @include transform( rotate3d(1,0,0,0deg) );
            }
        }
    }
}

// -------------------------
.ih-item.circle.effect20.bottom_to_top {
    .info {
        .info-back {
            @include transform( translate3d(0,280px,0) rotate3d(1,0,0,-90deg) );
        }
    }

    a:hover {
        .img {
            @include transform( translate3d(0,0,-220px) rotate3d(1,0,0,90deg) );
        }

        .info {
            .info-back {
                @include transform( rotate3d(1,0,0,0deg) );
            }
        }
    }
}
